In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("./data/titanic1.csv")
data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,0.0,0.0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,0.0,0.0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3.0,0.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3.0,0.0,"Warren, Mr. Charles William",male,NaN,0.0,0.0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3.0,0.0,"Webber, Mr. James",male,NaN,0.0,0.0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1.0,0.0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,1.0,0.0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0.0,0.0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3.0,0.0,"Willey, Mr. Edward",male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0.0,0.0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,0.0,0.0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data["age"][:5]

0    29.0000
1     0.9167
2     2.0000
3    30.0000
4    25.0000
Name: age, dtype: float64

In [5]:
data[["age","fare"]][:5]

       age      fare
0  29.0000  211.3375
1   0.9167  151.5500
2   2.0000  151.5500
3  30.0000  151.5500
4  25.0000  151.5500

In [6]:
data.iloc[0]

pclass                                   1
survived                                 1
name         Allen, Miss. Elisabeth Walton
sex                                 female
age                                     29
sibsp                                    0
parch                                    0
ticket                               24160
fare                               211.338
cabin                                   B5
embarked                                 S
boat                                     2
body                                   NaN
home.dest                     St Louis, MO
Name: 0, dtype: object

In [7]:
data.iloc[5:10]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

In [8]:
data.iloc[0:5,10:15]

  embarked boat   body                        home.dest
0        S    2    NaN                     St Louis, MO
1        S   11    NaN  Montreal, PQ / Chesterville, ON
2        S  NaN    NaN  Montreal, PQ / Chesterville, ON
3        S  NaN  135.0  Montreal, PQ / Chesterville, ON
4        S  NaN    NaN  Montreal, PQ / Chesterville, ON

In [9]:
data = data.set_index("name")
data.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
name,,,,,,,,,,,,,
"Allen, Miss. Elisabeth Walton",1.0,1.0,female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
"Allison, Master. Hudson Trevor",1.0,1.0,male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
"Allison, Miss. Helen Loraine",1.0,0.0,female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
"Allison, Mr. Hudson Joshua Creighton",1.0,0.0,male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1.0,0.0,female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [10]:
data.loc["Allison, Miss. Helen Loraine"]

pclass                                     1
survived                                   0
sex                                   female
age                                        2
sibsp                                      1
parch                                      2
ticket                                113781
fare                                  151.55
cabin                                C22 C26
embarked                                   S
boat                                     NaN
body                                     NaN
home.dest    Montreal, PQ / Chesterville, ON
Name: Allison, Miss. Helen Loraine, dtype: object

In [11]:
data.loc["Allison, Miss. Helen Loraine","fare"]

151.55

In [12]:
data.loc["Allison, Miss. Helen Loraine","age"] = 200

In [13]:
data.iloc[0:5]

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
name,,,,,,,,,,,,,
"Allen, Miss. Elisabeth Walton",1.0,1.0,female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
"Allison, Master. Hudson Trevor",1.0,1.0,male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
"Allison, Miss. Helen Loraine",1.0,0.0,female,200.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
"Allison, Mr. Hudson Joshua Creighton",1.0,0.0,male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1.0,0.0,female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [14]:
data[data["age"]>30]

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
name,,,,,,,,,,,,,
"Allison, Miss. Helen Loraine",1.0,0.0,female,200.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
"Anderson, Mr. Harry",1.0,1.0,male,48.0,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
"Andrews, Miss. Kornelia Theodosia",1.0,1.0,female,63.0,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
"Andrews, Mr. Thomas Jr",1.0,0.0,male,39.0,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
"Appleton, Mrs. Edward Dale (Charlotte Lamson)",1.0,1.0,female,53.0,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
"Artagaveytia, Mr. Ramon",1.0,0.0,male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
"Astor, Col. John Jacob",1.0,0.0,male,47.0,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
"Barkworth, Mr. Algernon Henry Wilson",1.0,1.0,male,80.0,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",1.0,1.0,female,50.0,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
"Bazzani, Miss. Albina",1.0,1.0,female,32.0,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
"Beattie, Mr. Thomson",1.0,0.0,male,36.0,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
"Beckwith, Mr. Richard Leonard",1.0,1.0,male,37.0,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1.0,1.0,female,47.0,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
"Bidois, Miss. Rosalie",1.0,1.0,female,42.0,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
"Bissette, Miss. Amelia",1.0,1.0,female,35.0,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
"Blackwell, Mr. Stephen Weart",1.0,0.0,male,45.0,0.0,0.0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
"Blank, Mr. Henry",1.0,1.0,male,40.0,0.0,0.0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
"Bonnell, Miss. Elizabeth",1.0,1.0,female,58.0,0.0,0.0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
"Borebank, Mr. John James",1.0,0.0,male,42.0,0.0,0.0,110489,26.5500,D22,S,NaN,NaN,"London / Winnipeg, MB"
"Bowen, Miss. Grace Scott",1.0,1.0,female,45.0,0.0,0.0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
"Brady, Mr. John Bertram",1.0,0.0,male,41.0,0.0,0.0,113054,30.5000,A21,S,NaN,NaN,"Pomeroy, WA"
"Brandeis, Mr. Emil",1.0,0.0,male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
"Brown, Mrs. James Joseph (Margaret Tobin)",1.0,1.0,female,44.0,0.0,0.0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
"Brown, Mrs. John Murray (Caroline Lane Lamson)",1.0,1.0,female,59.0,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
"Bucknell, Mrs. William Robert (Emma Eliza Ward)",1.0,1.0,female,60.0,0.0,0.0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
"Burns, Miss. Elizabeth Margaret",1.0,1.0,female,41.0,0.0,0.0,16966,134.5000,E40,C,3,NaN,NaN
"Butt, Major. Archibald Willingham",1.0,0.0,male,45.0,0.0,0.0,113050,26.5500,B38,S,NaN,NaN,"Washington, DC"
"Calderhead, Mr. Edward Pennington",1.0,1.0,male,42.0,0.0,0.0,PC 17476,26.2875,E24,S,5,NaN,"New York, NY"
"Candee, Mrs. Edward (Helen Churchill Hungerford)",1.0,1.0,female,53.0,0.0,0.0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
"Cardeza, Mr. Thomas Drake Martinez",1.0,1.0,male,36.0,0.0,1.0,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Austria-Hungary / Germantown, Philadelphia, PA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Rouse, Mr. Richard Henry",3.0,0.0,male,50.0,0.0,0.0,A/5 3594,8.0500,NaN,S,NaN,NaN,NaN
"Saether, Mr. Simon Sivertsen",3.0,0.0,male,38.5,0.0,0.0,SOTON/O.Q. 3101262,7.2500,NaN,S,NaN,32.0,NaN
"Salonen, Mr. Johan Werner",3.0,0.0,male,39.0,0.0,0.0,3101296,7.9250,NaN,S,NaN,NaN,NaN
"Sivic, Mr. Husein",3.0,0.0,male,40.0,0.0,0.0,349251,7.8958,NaN,S,NaN,NaN,NaN
"Skoog, Mr. Wilhelm",3.0,0.0,male,40.0,1.0,4.0,347088,27.9000,NaN,S,NaN,NaN,NaN
"Skoog, Mrs. William (Anna Bernhardina Karlsson)",3.0,0.0,female,45.0,1.0,4.0,347088,27.9000,NaN,S,NaN,NaN,NaN
"Spinner, Mr. Henry John",3.0,0.0,male,32.0,0.0,0.0,STON/OQ. 369943,8.0500,NaN,S,NaN,NaN,NaN
"Stankovic, Mr. Ivan",3.0,0.0,male,33.0,0.0,0.0,349239,8.6625,NaN,C,NaN,NaN,NaN
"Storey, Mr. Thomas",3.0,0.0,male,60.5,0.0,0.0,3701,NaN,NaN,S,NaN,261.0,NaN
"Stranden, Mr. Juho",3.0,1.0,male,31.0,0.0,0.0,STON/O 2. 3101288,7.9250,NaN,S,9,NaN,NaN
"Sundman, Mr. Johan Julian",3.0,1.0,male,44.0,0.0,0.0,STON/O 2. 3101269,7.9250,NaN,S,15,NaN,NaN
"Svensson, Mr. Johan",3.0,0.0,male,74.0,0.0,0.0,347060,7.7750,NaN,S,NaN,NaN,NaN
"Theobald, Mr. Thomas Leonard",3.0,0.0,male,34.0,0.0,0.0,363294,8.0500,NaN,S,NaN,176.0,NaN
"Tikkanen, Mr. Juho",3.0,0.0,male,32.0,0.0,0.0,STON/O 2. 3101293,7.9250,NaN,S,NaN,NaN,NaN
"Tomlin, Mr. Ernest Portage",3.0,0.0,male,30.5,0.0,0.0,364499,8.0500,NaN,S,NaN,50.0,NaN
"Torber, Mr. Ernst William",3.0,0.0,male,44.0,0.0,0.0,364511,8.0500,NaN,S,NaN,NaN,NaN
"Turcin, Mr. Stjepan",3.0,0.0,male,36.0,0.0,0.0,349247,7.8958,NaN,S,NaN,NaN,NaN
"Turkula, Mrs. (Hedwig)",3.0,1.0,female,63.0,0.0,0.0,4134,9.5875,NaN,S,15,NaN,NaN
"van Billiard, Mr. Austin Blyler",3.0,0.0,male,40.5,0.0,2.0,A/5. 851,14.5000,NaN,S,NaN,255.0,NaN
"Van Impe, Mr. Jean Baptiste",3.0,0.0,male,36.0,1.0,1.0,345773,24.1500,NaN,S,NaN,NaN,NaN
"Vande Velde, Mr. Johannes Joseph",3.0,0.0,male,33.0,0.0,0.0,345780,9.5000,NaN,S,NaN,NaN,NaN
"Vander Cruyssen, Mr. Victor",3.0,0.0,male,47.0,0.0,0.0,345765,9.0000,NaN,S,NaN,NaN,NaN
"Vander Planke, Mr. Julius",3.0,0.0,male,31.0,3.0,0.0,345763,18.0000,NaN,S,NaN,NaN,NaN
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",3.0,0.0,female,31.0,1.0,0.0,345763,18.0000,NaN,S,NaN,NaN,NaN
"Wenzel, Mr. Linhart",3.0,0.0,male,32.5,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",3.0,1.0,female,38.0,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
"Widegren, Mr. Carl/Charles Peter",3.0,0.0,male,51.0,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
"Wilkes, Mrs. James (Ellen Needs)",3.0,1.0,female,47.0,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
"Wittevrongel, Mr. Camille",3.0,0.0,male,36.0,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
"Youseff, Mr. Gerious",3.0,0.0,male,45.5,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN

In [15]:
data[data["sex"]=="female"]

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
name,,,,,,,,,,,,,
"Allen, Miss. Elisabeth Walton",1.0,1.0,female,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
"Allison, Miss. Helen Loraine",1.0,0.0,female,200.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1.0,0.0,female,25.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
"Andrews, Miss. Kornelia Theodosia",1.0,1.0,female,63.0,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
"Appleton, Mrs. Edward Dale (Charlotte Lamson)",1.0,1.0,female,53.0,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",1.0,1.0,female,18.0,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
"Aubart, Mme. Leontine Pauline",1.0,1.0,female,24.0,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
"Barber, Miss. Ellen ""Nellie""",1.0,1.0,female,26.0,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",1.0,1.0,female,50.0,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
"Bazzani, Miss. Albina",1.0,1.0,female,32.0,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1.0,1.0,female,47.0,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
"Bidois, Miss. Rosalie",1.0,1.0,female,42.0,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
"Bird, Miss. Ellen",1.0,1.0,female,29.0,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
"Bishop, Mrs. Dickinson H (Helen Walton)",1.0,1.0,female,19.0,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
"Bissette, Miss. Amelia",1.0,1.0,female,35.0,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
"Bonnell, Miss. Caroline",1.0,1.0,female,30.0,0.0,0.0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
"Bonnell, Miss. Elizabeth",1.0,1.0,female,58.0,0.0,0.0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
"Bowen, Miss. Grace Scott",1.0,1.0,female,45.0,0.0,0.0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
"Bowerman, Miss. Elsie Edith",1.0,1.0,female,22.0,0.0,1.0,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
"Brown, Mrs. James Joseph (Margaret Tobin)",1.0,1.0,female,44.0,0.0,0.0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
"Brown, Mrs. John Murray (Caroline Lane Lamson)",1.0,1.0,female,59.0,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
"Bucknell, Mrs. William Robert (Emma Eliza Ward)",1.0,1.0,female,60.0,0.0,0.0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
"Burns, Miss. Elizabeth Margaret",1.0,1.0,female,41.0,0.0,0.0,16966,134.5000,E40,C,3,NaN,NaN
"Candee, Mrs. Edward (Helen Churchill Hungerford)",1.0,1.0,female,53.0,0.0,0.0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
"Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)",1.0,1.0,female,58.0,0.0,1.0,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Germantown, Philadelphia, PA"
"Carter, Miss. Lucile Polk",1.0,1.0,female,14.0,1.0,2.0,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
"Carter, Mrs. William Ernest (Lucile Polk)",1.0,1.0,female,36.0,1.0,2.0,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)",1.0,1.0,female,NaN,0.0,0.0,17770,27.7208,NaN,C,5,NaN,"New York, NY"
"Cavendish, Mrs. Tyrell William (Julia Florence Siegel)",1.0,1.0,female,76.0,1.0,0.0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs"
"Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)",1.0,1.0,female,47.0,1.0,0.0,W.E.P. 5734,61.1750,E31,S,4,NaN,"Amenia, ND"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Salkjelsvik, Miss. Anna Kristine",3.0,1.0,female,21.0,0.0,0.0,343120,7.6500,NaN,S,C,NaN,NaN
"Sandstrom, Miss. Beatrice Irene",3.0,1.0,female,1.0,1.0,1.0,PP 9549,16.7000,G6,S,13,NaN,NaN
"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)",3.0,1.0,female,24.0,0.0,2.0,PP 9549,16.7000,G6,S,13,NaN,NaN
"Sandstrom, Miss. Marguerite Rut",3.0,1.0,female,4.0,1.0,1.0,PP 9549,16.7000,G6,S,13,NaN,NaN
"Shine, Miss. Ellen Natalia",3.0,1.0,female,NaN,0.0,0.0,330968,7.7792,NaN,Q,NaN,NaN,NaN
"Sjoblom, Miss. Anna Sofia",3.0,1.0,female,18.0,0.0,0.0,3101265,7.4958,NaN,S,16,NaN,NaN
"Skoog, Miss. Mabel",3.0,0.0,female,9.0,3.0,2.0,347088,27.9000,NaN,S,NaN,NaN,NaN
"Skoog, Miss. Margit Elizabeth",3.0,0.0,female,2.0,3.0,2.0,347088,27.9000,NaN,S,NaN,NaN,NaN
"Skoog, Mrs. William (Anna Bernhardina Karlsson)",3.0,0.0,female,45.0,1.0,4.0,347088,27.9000,NaN,S,NaN,NaN,NaN
"Smyth, Miss. Julia",3.0,1.0,female,NaN,0.0,0.0,335432,7.7333,NaN,Q,13,NaN,NaN
"Stanley, Miss. Amy Zillah Elsie",3.0,1.0,female,23.0,0.0,0.0,CA. 2314,7.5500,NaN,S,C,NaN,NaN
"Strandberg, Miss. Ida Sofia",3.0,0.0,female,22.0,0.0,0.0,7553,9.8375,NaN,S,NaN,NaN,NaN
"Strom, Miss. Telma Matilda",3.0,0.0,female,2.0,0.0,1.0,347054,10.4625,G6,S,NaN,NaN,NaN
"Strom, Mrs. Wilhelm (Elna Matilda Persson)",3.0,0.0,female,29.0,1.0,1.0,347054,10.4625,G6,S,NaN,NaN,NaN
"Thomas, Mrs. Alexander (Thamine ""Thelma"")",3.0,1.0,female,16.0,1.0,1.0,2625,8.5167,NaN,C,14,NaN,NaN
"Thorneycroft, Mrs. Percival (Florence Kate White)",3.0,1.0,female,NaN,1.0,0.0,376564,16.1000,NaN,S,10,NaN,NaN
"Touma, Miss. Maria Youssef",3.0,1.0,female,9.0,1.0,1.0,2650,15.2458,NaN,C,C,NaN,NaN
"Touma, Mrs. Darwis (Hanne Youssef Razi)",3.0,1.0,female,29.0,0.0,2.0,2650,15.2458,NaN,C,C,NaN,NaN
"Turja, Miss. Anna Sofia",3.0,1.0,female,18.0,0.0,0.0,4138,9.8417,NaN,S,15,NaN,NaN
"Turkula, Mrs. (Hedwig)",3.0,1.0,female,63.0,0.0,0.0,4134,9.5875,NaN,S,15,NaN,NaN
"Van Impe, Miss. Catharina",3.0,0.0,female,10.0,0.0,2.0,345773,24.1500,NaN,S,NaN,NaN,NaN
"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)",3.0,0.0,female,30.0,1.0,1.0,345773,24.1500,NaN,S,NaN,NaN,NaN
"Vander Planke, Miss. Augusta Maria",3.0,0.0,female,18.0,2.0,0.0,345764,18.0000,NaN,S,NaN,NaN,NaN
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",3.0,0.0,female,31.0,1.0,0.0,345763,18.0000,NaN,S,NaN,NaN,NaN
"Vestrom, Miss. Hulda Amanda Adolfina",3.0,0.0,female,14.0,0.0,0.0,350406,7.8542,NaN,S,NaN,NaN,NaN
"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",3.0,1.0,female,38.0,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
"Wilkes, Mrs. James (Ellen Needs)",3.0,1.0,female,47.0,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
"Yasbeck, Mrs. Antoni (Selini Alexander)",3.0,1.0,female,15.0,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
"Zabour, Miss. Hileni",3.0,0.0,female,14.5,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
"Zabour, Miss. Thamine",3.0,0.0,female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN

In [16]:
data.loc[data["sex"]=="male","age"].mean()

30.585232978723408

In [17]:
(data["age"]>65).sum()

11